<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        {# Just SEO things #}
        <meta name="Googlebot" content="index,follow"/>
        <meta name="robots" content="index,follow"/>
        <meta name="revisit-after" content="1 Days"/>

        <meta charset="UTF-8">

        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('css/page.css') }}" rel="stylesheet" type="text/css"/>
        {% block stylesheets %}

        {% endblock %}

        <script src="{{ asset('js/jquery-1.10.2.js') }}"></script>
        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <script src="{{ asset('js/bootstrap.js') }}"></script>

        {% block javascript %}

        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body style="background-image: url('{{ asset('images/marvel-bg-blur.jpg') }}'); background-size:cover;">
    <div class="container whitebg wrap">
        <header id="header" class="center-block">
            <!-- My logo and name of my website -->
            <section id="logo">
                <h3 class="text-center">LpMovies&nbsp;
                    <small>Symfony2 / Doctrine 2</small>
                </h3>
            </section>
            <!-- My navigation bar for going around the website -->
            <nav class="navbar navbar-static-top">
                <ul class="center-block nav nav-pills" style="width: 500px;">
                    <li class="active"><a href="{{ path('_welcome') }}">Начало</a></li>
                    <!-- Movies -->
                    <li class="dropdown">
                        <a
                                id="drop1"
                                class="dropdown-toggle"
                                data-toggle="dropdown"
                                href="#">Movies <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                            <li role="presentation">
                                <a href="{{ path('movie') }}"
                                   tabindex="-1"
                                   role="menuitem">View Movies</a>
                            </li>
                            <li role="presentation">
                                <a href="{{ path('movie_new') }}"
                                   tabindex="-1"
                                   role="menuitem">Create Movie</a>
                            </li>
                        </ul>
                    </li>
                    <!-- Categories -->
                    <li class="dropdown">
                        <a
                                id="drop1"
                                class="dropdown-toggle"
                                data-toggle="dropdown"
                                href="#">Categories <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                            <li role="presentation">
                                <a href="{{ path('category') }}"
                                   tabindex="-1"
                                   role="menuitem">View Categories</a>
                            </li>
                            <li role="presentation">
                                <a href="{{ path('category_new') }}"
                                   tabindex="-1"
                                   role="menuitem">Create Category</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
        {% block body %}{% endblock %}

        <script type="text/javascript" charset="utf-8">
            $(document).ready(function () {
                $("a[rel^='prettyPhoto']").prettyPhoto();
            });
        </script>
    </body>
</html>