{% extends '::base.html.twig' %}

{% import "@LpMovie/Movie/show_watched_macro.html.twig" as show_label %}

{% block body -%}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="text-center">
                Редакция на #{{ entity.id }} - {{ entity.mvTitle }} {{ show_label.watchedLabel(entity.MvWatched) }}
            </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    {% include 'LpMovieBundle:Movie:include_poster.html.twig' with {'width': '100%'} %}
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9" style="padding-bottom: 20px;">
                            {{ form_start(delete_form) }}
                            <a href="{{ path('movie') }}" class="btn btn-primary">Back to the list</a>
                            <a href="{{ path('movie_show', { 'id': entity.id }) }}"
                               class="btn btn-warning">View</a>
                            {{ form_widget(delete_form.submit, {'attr': {'class': 'btn btn-danger' }}) }}
                            {{ form_end(delete_form) }}
                        </div>

                        {{ form_start(edit_form,
                            { 'attr': {
                                    'novalidate': 'novalidate',
                                    'class': 'form-horizontal',
                                    'role': 'form',
                                }
                            }
                        ) }}
                        <div class="col-md-12">{{ form_errors(edit_form) }}</div>
                        <div class="form-group">
                            {{ form_label(edit_form.mv_title,
                                label|default(null),
                                { 'label_attr': { 'class': 'col-md-5 control-label' } }
                            ) }}
                            <div class="col-md-7">
                                {{ form_widget(edit_form.mv_title, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                            <div class="col-md-offset-5 col-md-7">{{ form_errors(edit_form.mv_title) }}</div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-5 col-md-7">
                                <div class="checkbox">
                                    <label>
                                        {{ form_widget(edit_form.mv_watched) }} {{ edit_form.mv_watched.vars.label }}
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-offset-5 col-md-7">{{ form_errors(edit_form.mv_watched) }}</div>
                        </div>

                        <div class="form-group">
                            {{ form_label(edit_form.mv_date,
                                label|default(null),
                                { 'label_attr': { 'class': 'col-md-5 control-label' } }
                            ) }}
                            <div class="col-md-7">
                                {{ form_widget(edit_form.mv_date, {'attr': {'class': 'date'} }) }}
                            </div>
                            <div class="col-md-offset-5 col-md-7">{{ form_errors(edit_form.mv_date) }}</div>
                        </div>

                        <div class="form-group">
                            {{ form_label(edit_form.categories,
                                label|default(null),
                                { 'label_attr': { 'class': 'col-md-5 control-label' } }
                            ) }}
                            <div class="col-md-7">
                                {{ form_widget(edit_form.categories, {'attr': {'class': 'form-control'} }) }}
                            </div>
                            <div class="col-md-offset-5 col-md-7">{{ form_errors(edit_form.categories) }}</div>
                        </div>

                        <div class="form-group">
                            {{ form_label(edit_form.mv_trailer,
                                label|default(null),
                                { 'label_attr': { 'class': 'col-md-5 control-label' } }
                            ) }}
                            <div class="col-md-7">
                                {{ form_widget(edit_form.mv_trailer, {'attr': {'class': 'form-control'} }) }}
                            </div>
                            <div class="col-md-offset-5 col-md-7">{{ form_errors(edit_form.mv_trailer) }}</div>
                        </div>

                        <div class="form-group">
                            {{ form_label(edit_form.file,
                                label|default(null),
                                { 'label_attr': { 'class': 'col-md-5 control-label' } }
                            ) }}
                            <div class="col-md-7">
                                {{ form_widget(edit_form.file, {'attr': {'class': 'form-control'} }) }}
                            </div>
                            <div class="col-md-offset-5 col-md-7">{{ form_errors(edit_form.file) }}</div>
                        </div>

                        <div class="form-group">
                            {{ form_label(edit_form.mv_description,
                                label|default(null),
                                { 'label_attr': { 'class': 'col-md-5 control-label' } }
                            ) }}
                            <div class="col-md-7">
                                {{ form_widget(edit_form.mv_description,
                                    { 'attr': {
                                            'class': 'form-control',
                                            'rows': 5
                                        }
                                    }
                                ) }}
                            </div>
                            <div class="col-md-offset-5 col-md-7">{{ form_errors(edit_form.mv_description) }}</div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9">
                                {{ form_widget(edit_form.submit, {'attr': { 'class': 'btn btn-primary' } } ) }}
                            </div>
                        </div>
                        {{ form_end(edit_form) }}
                    </div>
                </div>
                <div class="col-md-1">&nbsp;</div>
            </div>
        </div>
    </div>


    {# { form(edit_form, {'attr': {'novalidate': 'novalidate' }}) }}
    {{ form_start(edit_form, {'attr': {'novalidate': 'novalidate' }}) }}
    {{ form_errors(edit_form) }}

    {{ form_row(edit_form.mv_title) }}
    {{ form_row(edit_form.mv_watched) }}
    {{ form_row(edit_form.mv_date)}}
    {{ form_row(edit_form.categories) }}
    {{ form_row(edit_form.mv_trailer) }}

    {{ form_row(edit_form.file) }}
    {{ form_row(edit_form.mv_description) }}
    {{ form_end(edit_form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('movie') }}">
                Back to the list
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>

    #}


{% endblock %}
