{% extends '::base.html.twig' %}

{% import "@LpMovie/Movie/show_watched_macro.html.twig" as show_label %}

{% block stylesheets %}
    <link href="{{ asset('css/prettyPhoto.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block javascript %}

    <script>
        $(function () {
            $(document).tooltip({
                items: "img, [data-geo], [title]",
                content: function () {
                    var element = $(this);
                    if (element.is("[data-geo]")) {
                        var text = element.text();
                        return "<img class='map' alt='" + text +
                                "' src='http://maps.google.com/maps/api/staticmap?" +
                                "zoom=11&size=350x350&maptype=terrain&sensor=false&center=" +
                                text + "'>";
                    }
                    if (element.is("[title]")) {
                        return element.attr("title");
                    }
                    if (element.is("img")) {
                        return element.attr("alt");
                    }
                }
            });
        });
    </script>

    <script src="{{ asset('js/jquery.prettyPhoto.js') }}"></script>

{% endblock %}

{% block body %}
    <h1>Movies</h1>

    <!-- HTML to write -->
    <a href="{{ path('movie_new') }}" class="btn btn-primary" style="margin-bottom: 20px;">
        Add new Movie
    </a>

    All Items {{ pagination.getTotalItemCount }}

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>{{ knp_pagination_sortable(pagination, 'Id', 'm.id') }}</th>
            <th>Постер</th>
            <th>{{ knp_pagination_sortable(pagination, 'Заглавие', 'm.mv_title', {'direction': 'asc'} ) }}</th>
            <th>Описание</th>
            <th>Създаден на</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        {# total items count #}
        {#{{ pagination.getTotalItemCount }}#}
        {# sorting of properties based on query components #}
        {#<th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
        <th{% if pagination.isSorted('a.Title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 'a.title') }}</th>#}
        {# display navigation #}

        {% for entity in pagination %}
            <tr class="movie">
                <td><a href="{{ path('movie_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>
                    <a rel="prettyPhoto" href="{{ asset(entity.getwebpath) }}">
                        {% include 'LpMovieBundle:Movie:include_poster.html.twig' with {'width': '50px'} %}
                    </a>
                </td>
                <td>{{ entity.mvtitle }} {{ show_label.watchedLabel(entity.MvWatched) }}</td>
                <td>{{ entity.mvdescription }}</td>
                <td>{% if entity.mvcreatedAt %}{{ entity.mvcreatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    {{ form_start(delete_forms[entity.id]) }}
                    <a href="{{ path('movie_show', { 'id': entity.id }) }}" class="btn btn-primary">Покажи</a>
                    <a href="{{ path('movie_edit', { 'id': entity.id }) }}" class="btn btn-warning">Редактирай</a>
                    {{ form_widget(delete_forms[entity.id].submit, {'attr': {'class': 'btn btn-danger' }}) }}
                    {{ form_end(delete_forms[entity.id]) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
