{% extends '::base.html.twig' %}
{#
{% import "@LpMovie/Movie/show_field_macro.html.twig" as show_field %}
#}
{% block body -%}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="text-center">Добави Филм</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">&nbsp;</div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-offset-5 col-md-7" style="padding-bottom: 20px;">
                            <a href="{{ path('movie') }}" class="btn btn-primary">Back to the list</a>
                        </div>
                        {# {{ form(form, {'attr': {'novalidate': 'novalidate' }}) }} #}
                        {{ form_start(form, {'attr': {
                            'novalidate': 'novalidate',
                            'class': 'form-horizontal',
                            'role': 'form',
                            } })
                        }}
                        <div class="col-md-12">{{ form_errors(form) }}</div>
                        <div class="form-group">
                            {{ form_label(form.mv_title, label|default(null), {'label_attr': {'class': 'col-md-5 control-label'} } ) }}
                            <div class="col-md-7">
                                {{ form_widget(form.mv_title, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                            <div class="col-md-offset-5 col-md-7">{{ form_errors(form.mv_title) }}</div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-5 col-md-7">
                                <div class="checkbox">
                                    <label>
                                        {{ form_widget(form.mv_watched) }} {{ form.mv_watched.vars.label }}
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-offset-5 col-md-7">{{ form_errors(form.mv_watched) }}</div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.mv_date,
                                label|default(null),
                                { 'label_attr':
                                    { 'class': 'col-md-5 control-label' }
                                }
                            ) }}
                            <div class="col-md-7">
                                {{ form_widget(form.mv_date, {'attr': {'class': 'date'} }) }}
                            </div>
                            <div class="col-md-offset-5 col-md-7">{{ form_errors(form.mv_date) }}</div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.categories,
                                label|default(null),
                                { 'label_attr':
                                    { 'class': 'col-md-5 control-label' }
                                }
                            ) }}
                            <div class="col-md-7">
                                {{ form_widget(form.categories, {'attr': {'class': 'form-control'} }) }}
                            </div>
                            <div class="col-md-offset-5 col-md-7">{{ form_errors(form.categories) }}</div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.mv_trailer,
                                label|default(null),
                                { 'label_attr':
                                    { 'class': 'col-md-5 control-label' }
                                }
                            ) }}
                            <div class="col-md-7">
                                {{ form_widget(form.mv_trailer, {'attr': {'class': 'form-control'} }) }}
                            </div>
                            <div class="col-md-offset-5 col-md-7">{{ form_errors(form.mv_trailer) }}</div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.file,
                                label|default(null),
                                { 'label_attr':
                                    { 'class': 'col-md-5 control-label' }
                                }
                            ) }}
                            <div class="col-md-7">
                                {{ form_widget(form.file, {'attr': {'class': 'form-control'} }) }}
                            </div>
                            <div class="col-md-offset-5 col-md-7">{{ form_errors(form.file) }}</div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.mv_description,
                                label|default(null),
                                { 'label_attr':
                                    { 'class': 'col-md-5 control-label' }
                                }
                            ) }}
                            <div class="col-md-7">
                                {{ form_widget(form.mv_description,
                                    {'attr':
                                        {
                                            'class': 'form-control',
                                            'rows': 5
                                        }
                                    }
                                ) }}
                            </div>
                            <div class="col-md-offset-5 col-md-7">{{ form_errors(form.mv_description) }}</div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9">
                                {{ form_widget(form.submit, {'attr': { 'class': 'btn btn-primary' } } ) }}
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
                <div class="col-md-3">&nbsp;</div>
            </div>
        </div>
    </div>

{% endblock %}
