{% macro watchedLabel(mvWatched) %}
    {% if mvWatched == 1 %}
        {% set label = { 'label_color': 'success', 'label_text': 'Гледан' } %}
    {% else %}
        {% set label = { 'label_color': 'danger', 'label_text': 'Не гледан' } %}
    {% endif %}

    <span class="label label-{{ label.label_color }}">
                    {{ label.label_text }}
                </span>
{% endmacro %}