{% extends '::base.html.twig' %}

{% import "@LpMovie/Movie/show_field_macro.html.twig" as show_field %}
{% import "@LpMovie/Movie/show_watched_macro.html.twig" as show_label %}

{% set trailer %}
<iframe width="300" height="169" src="{{ entity.MvTrailer }}" frameborder="0" allowfullscreen></iframe>
{% endset %}

{% block body -%}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="text-center">
                {{ entity.mvTitle }}
                {% if entity.MvDate is not null %}
                    <small>Официална Дата: {{ entity.MvDate|date('d-m-Y') }}</small>
                {% endif %}
                {{ show_label.watchedLabel(entity.MvWatched) }}
            </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-5">
                    {% include 'LpMovieBundle:Movie:include_poster.html.twig' with {'width': '100%'} %}
                </div>
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-12" style="padding-bottom: 10px;">
                            {{ form_start(delete_form) }}
                                <a href="{{ path('movie') }}" class="btn btn-primary">
                                    Back to the list
                                </a>
                                <a href="{{ path('movie_edit', { 'id': entity.id }) }}"
                                   class="btn btn-warning">Edit</a>
                                {{ form_widget(delete_form.submit, {'attr': {'class': 'btn btn-danger' }}) }}
                            {{ form_end(delete_form) }}
                        </div>
                        {{ show_field.field('Id:', entity.id ) }}
                        {{ show_field.field('Категории:', entity.GetCategories|join(', ') ) }}
                        {{ show_field.field('Създаден на:', entity.MvCreatedAt|date('Y-m-d H:i:s') ) }}
                        {{ show_field.field('Описание:', entity.MvDescription) }}
                        {% if entity.MvTrailer is not null %}
                            {{ show_field.field('Трейлър:', trailer) }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
