{% macro field(label, text) %}
    <div class="col-md-3" style="border-right: 1px solid black; padding-bottom: 10px;">
        <b>{{ label }}</b>
    </div>
    <div class="col-md-9" style="padding-bottom: 10px;">{{ text }}</div>
{% endmacro %}