html, body {
    height: 100%;
}

.required:after {
    color: red;
    content: "*";
}

.whitebg {
    background-color: #ffffff;
}

.wrap {
    margin-top: 15px;
    margin-bottom: 20px;
}

.index-blog-height {
    height: 130px;
}

.cv div  {
    border-bottom: 1px solid #000000;
}

index-blog-thumb {
    width: 40px;
}

.dragdrop-divNum {
    float: left;
    width: 128px;
    height: 128px;
    margin: 5px;
    display: block;
}

.dragdrop-box {
    width: 416px;
    height: 416px;
    border: 1px solid #428bca;
}

#logo {
    height: 100px;
}

#footer {
    height: 30px;
    padding-top: 15px;
    padding-bottom: 20px;
    border-top: 2px solid #428bca;
}